@font-face {
  font-family: 'Anton';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Anton-regular/Anton-regular.eot');
  src: url('../fonts/Anton-regular/Anton-regular.eot?#iefix') format('embedded-opentype'),
       local('Anton Regular'),
       local('Anton-regular'),
       url('../fonts/Anton-regular/Anton-regular.woff2') format('woff2'),
       url('../fonts/Anton-regular/Anton-regular.woff') format('woff'),
       url('../fonts/Anton-regular/Anton-regular.ttf') format('truetype'),
       url('../fonts/Anton-regular/Anton-regular.svg#Anton') format('svg');
}

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lobster-regular/Lobster-regular.eot');
  src: url('../fonts/Lobster-regular/Lobster-regular.eot?#iefix') format('embedded-opentype'),
       local('Lobster'),
       local('Lobster-regular'),
       url('../fonts/Lobster-regular/Lobster-regular.woff2') format('woff2'),
       url('../fonts/Lobster-regular/Lobster-regular.woff') format('woff'),
       url('../fonts/Lobster-regular/Lobster-regular.ttf') format('truetype'),
       url('../fonts/Lobster-regular/Lobster-regular.svg#Lobster') format('svg');
}

/*------------ -----------*/

* {
	margin: 0;
	padding: 0;
}
.cover {
	overflow: hidden;
	width: 100vw;
	overflow: hidden;
	position: relative;
	height: 100vh;
}
.fsCcontainer {
	height: 100vh;
}

.fsCslide {
	width: 100vw;
	height: 100vh;
	float: left;
	display: inline-block;
	font-size: 12em;
	font-family: sans-serif;
	text-align: center;
	line-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.fsCactive{
	background: steelblue;
}

#fscIndex {
	height: 2vw;
	position: fixed;
	top: 10vh;
	left: 0;
}
.fscCommon {
	border-radius: 50%;
	display: inline-block;
	/*opacity: 0.85;*/
}
.fscDark{
	background: #aaa;
}
.fscLight {
	background: white;
}

/*---------page specific----------------*/

.a {
	background: url(../images/vitamin-rich-fruit-strawberry-close-up-photography-1080P-wallpaper.jpg);	
	background-size: cover;
	background-position: bottom;
}
.b {
	background: url(../images/Persian_Gulf_Imam_Harbor_Sunset.jpg);
	background-size: cover;
	background-position: bottom;
}
.c {
	background: url(../images/Ships_Cosco_Container_ship_in_the_port_107062_.jpg);
	background-size: cover;
	background-position: bottom;
}
.d {
	background: url(../images/hhsued_03.jpg);
	background-size: cover;
	background-position: bottom;
}
.e {
	background: url(../images/tea-plant.jpg);
	background-size: cover;
	background-position: bottom;
}

.dimmer {
	background: rgba(0,0,0,0.55);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}



.fixer {
	position: fixed;
	display: inline-block;
	top: 0;
	color: white;
	width: 100vw;
	height: 100vh;
}
#slogan{
	margin-top: 20vh;
}
#slogan p {
	font-family: 'lobster';
	font-size: 10vh;
	position: relative;
	text-align: center;
}
#slogan strong {
	font-family: 'Anton';
}
#slogan p:last-child {
	font-size: 4vh;
	top: -3vh;
}

#cage {
	height: 40vh;
	background: steelblue;
	/*margin: 0;*/
	/*display: inline-block;*/
	bottom: 0;
}