* {
	margin: 0;
	padding: 0;
}
.cover {
	overflow: hidden;
	width: 100vw;
	overflow: hidden;
	/*margin: 25vh 100px;*/
	position: relative;
	height: 100vh;
}
.fsCcontainer {
	/*width: 250vw;*/
	height: 100vh;
}

.fsCslide {
	width: 100vw;
	height: 100vh;
	float: left;
	display: inline-block;
	font-size: 12em;
	font-family: sans-serif;
	text-align: center;
	line-height: 100vh;
	background: teal;
}

.fsCactive{
	background: steelblue;
}

#fscIndex {
	height: 2vw;
	position: fixed;
	top: 85vh;
	left: 0;
}
.fscCommon {
	border-radius: 50%;
	display: inline-block;
	opacity: 0.55;
}
.fscDark{
	background: #aaa;
}
.fscLight {
	background: white;
}